<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="employee">Employee List</a>
            </li>
             <li>
                <a routerLink="edit/0">Create</a>
            </li> 
            <li>
                <a routerLink="charts">Charts</a>
            </li>
        </ul>
    </nav>
     <h1><a (click)="onClick()">Click</a></h1>
    <div toastContainer></div>
    <div class="lds-roller" *ngIf="showLoadingIndicator">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
     <router-outlet></router-outlet> 
</div>